<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>DIRECTORES</title>
    <%- include('./modules/links.ejs') %>
  </head>
  <body>
    <%- include('./modules/navbar.ejs') %>
    <main>
      <h1>LISTA DE LOS DIRECTORES</h1>
      <div class="d-flex flex-wrap gap-3 mt-3 p-3 justify-content-center">
        <% result.forEach((elem) =>{ %>
        <div class="card" style="width: 18rem">
          <img
            src="/images/directors/<%= elem.director_img?elem.director_img:'defaultDirector.png' %>"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title"><%= elem.name + " " + elem.lastname%></h5>
            <p class="card-text">Nacimiento: <%= elem.birth_date %></p>
            <a
              href="/director/profile/<%=elem.id_director%>"
              class="btn btn-primary"
              >Go to profile</a
            >
          </div>
        </div>
        <% }) %>
      </div>
    </main>
    <%- include('./modules/footer.ejs') %>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
