<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <%- include('modules/links.ejs') %>
  </head>
  <body>
    <%- include('modules/navbar.ejs') %>
    <main>
      <div class="row d-flex justify-content-center">
        <div class="col-3">
          <form
            class="mt-5"
            action="/director/editDirector/<%= result.id_director %>"
            method="post"
            enctype="multipart/form-data"
          >
            <h2>Formulario de Registro</h2>
            <div class="mb-3">
              <label for="exampleInputName" class="form-label">Nombre</label>
              <input
                type="text"
                class="form-control"
                id="exampleInputName"
                aria-describedby="namelHelp"
                name="name"
                value="<%= result.name %>"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputLastname" class="form-label"
                >Apellidos</label
              >
              <input
                type="text"
                class="form-control"
                id="exampleInputLastname"
                aria-describedby="lastnameHelp"
                name="lastname"
                value="<%= result.lastname%>"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputNac" class="form-label"
                >Nacionalidad</label
              >
              <input
                type="text"
                class="form-control"
                id="exampleInputNac"
                aria-describedby="nationalityHelp"
                name="nationality"
                value="<%= result.nationality %>"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputbirthdate" class="form-label"
                >Fecha nacimiento</label
              >
              <input
                type="date"
                class="form-control"
                id="exampleInputbirthdate"
                name="birth_date"
                value="<%= result.birth_date%>"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputImg" class="form-label"
                >Sube tu imagen<img
                  style="width: 50px"
                  src="/assets/upload.png"
                  alt=""
                  name="img"
              /></label>
              <input
                type="file"
                class="form-control"
                id="exampleInputImg"
                name="img"
                hidden
              />
            </div>
            <div class="mb-3 form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="exampleCheck1"
              />
              <label class="form-check-label" for="exampleCheck1"
                >Acepto condiciones</label
              >
            </div>
            <p style="color: red"><%= message %></p>
            <button type="submit" class="btn btn-primary">Submit</button>
            <button
              type="button"
              class="btn btn-primary"
              onclick="window.location.href='/'"
            >
              Cancelar
            </button>
            <p>
              ya estás registrado? <a href="/director/loginForm">login aqui.</a>
            </p>
          </form>
        </div>
      </div>
    </main>

    <%- include('modules/footer.ejs') %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
