<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HOME</title>
    <%- include('./modules/links.ejs') %>
  </head>
  <body>
    <%- include('./modules/navbar.ejs') %>
    <main>
      <h1>Estos son los datos de la pelicula: <%= result.title %></h1>
      <h3>Estreno: <%= result.release_year %></h3>
      <button
        class="btn btn-primary"
        onclick="window.location.href='/director/profile/<%=  result.id_director%>'"
      >
        Volver
      </button>
    </main>
    <%- include('./modules/footer.ejs') %>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
