<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Golosinas la Chari</title>
    <%- include('./modules/links.ejs') %>
  </head>
  <body>
    <main>
      <%- include('./modules/navbar.ejs') %>
      <h1>LA TIENDA DE LA CHARI</h1>
      <section class="section-1 pt-5">
        <div class="container-xxl">
          <h2 class="text-center">CHUCHERÍAS</h2>
          <div class="row">
            <% candies.forEach((elem) => { %>
            <div
              class="col-12 col-sm-6 col-lg-3 pb-2 d-flex justify-content-center"
            >
              <div class="card" style="width: 18rem">
                <img
                  class="card-img-top"
                  src="/images/candies/<%= elem.image ? elem.image : 'defaultCandy.jpeg' %>"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h5 class="card-title"><%= elem.name %></h5>
                  <p class="card-text">
                    Tipo de golosina: <%= elem.candy_type %>
                  </p>
                </div>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
      </section>
      <section class="section-2 pt-5">
        <div class="container-xxl">
          <h2 class="text-center">PATATAS FRITAS</h2>
          <div class="row">
            <% chips.forEach((elem) => { %>
            <div
              class="col-12 col-sm-6 col-lg-3 pb-2 d-flex justify-content-center"
            >
              <div class="card" style="width: 18rem">
                <img
                  class="card-img-top"
                  src="/images/chips/<%= elem.image ? elem.image : 'defaultChips.jpg' %>"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h5 class="card-title"><%= elem.name %></h5>
                  <p class="card-text">Patatas sabor: <%= elem.flavor %></p>
                  <p class="card-text">Marca: <%= elem.brand %></p>
                </div>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
      </section>
      <section class="section-3 pt-5 pb-5">
        <div class="container-xxl">
          <h2 class="text-center">PAN DEL DIA</h2>
          <div class="row">
            <% bread.forEach((elem) => { %>
            <div
              class="col-12 col-sm-6 col-lg-3 pb-2 d-flex justify-content-center"
            >
              <div class="card" style="width: 18rem">
                <img
                  class="card-img-top"
                  src="/images/bread/<%= elem.image ? elem.image : 'defaultBread.jpeg' %>"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h5 class="card-title"><%= elem.name %></h5>
                  <p class="card-text">Origen: <%= elem.origin %></p>
                </div>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
      </section>
    </main>
    <%- include('./modules/footer.ejs') %>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
